* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1CB5E7;
  background: -webkit-gradient(linear, left bottom, left top, from(#5EA4F3), to(#b9e2f8));
  background: linear-gradient(0deg, #5EA4F3, #b9e2f8);
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1250px;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  width: 450px;
  height: 550px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #fff), to(#dfd7d7));
  background: linear-gradient(180deg, #fff 60%, #dfd7d7);
  -webkit-box-shadow: 5px 5px 10px 0px #0f5b7438;
          box-shadow: 5px 5px 10px 0px #0f5b7438;
}

.box__top {
  width: 450px;
  height: 70px;
  background-color: #52A6D4;
}

.margin {
  width: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.img {
  border: none;
  outline: none;
  padding-top: 20px;
  cursor: pointer;
  background-color: transparent;
}

.intro h3 {
  color: #fff;
}

.elips {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #fff;
  margin-right: 15px;
}

.today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}

.today p {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 700;
  color: #cfcdcd;
}

hr {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 180px;
  height: 2px;
  background-color: #cfcdcd;
  border: none;
}

.sms {
  width: 280px;
  height: 50px;
  background-color: #e5f7fd;
  margin-top: 5px;
  position: relative;
  margin-left: 20px;
  padding: 10px 20px 5px 10px;
  border-radius: 5px;
}

.sms::before {
  content: "";
  position: absolute;
  width: 0;
  border: 15px solid #e5f7fd;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-14px);
          transform: translateX(-14px);
}

.clock {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 10px;
  font-weight: 500;
  color: #999;
}

.sms-2 {
  width: 290px;
  background-color: #FFF4F4;
  margin-top: 5px;
  margin-left: 100px;
  padding: 10px 20px 10px 10px;
  border-radius: 5px;
  position: relative;
}

.clock-2 {
  margin-left: 380px;
  margin-top: 25px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}

.sms-2::before {
  content: "";
  position: absolute;
  width: 0;
  border: 15px solid #FFF4F4;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  top: 0;
  right: 0;
  -webkit-transform: translateX(14px);
          transform: translateX(14px);
}

.sms-3 {
  width: 90px;
  background-color: #e5f7fd;
  margin-top: 5px;
  margin-left: 20px;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
  position: relative;
}

.sms-3::before {
  content: "";
  position: absolute;
  width: 0;
  border: 15px solid #e5f7fd;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-14px);
          transform: translateX(-14px);
}

.sms-4 {
  width: 220px;
  background-color: #f1e1e1;
  margin-top: 10px;
  margin-left: 170px;
  padding: 10px 20px 10px 10px;
  border-radius: 5px;
  position: relative;
}

.sms-4::before {
  content: "";
  position: absolute;
  width: 0;
  border: 15px solid #f1e1e1;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  top: 0;
  right: 0;
  -webkit-transform: translateX(14px);
          transform: translateX(14px);
}

::-webkit-input-placeholder {
  font-size: 18px;
}

input {
  width: 400px;
  margin-left: 25px;
  margin-top: 10px;
  padding-top: 23px;
  padding-bottom: 10px;
  outline: none;
  border: none;
  border-top: 1px solid #666;
  background-color: transparent;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttuon {
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 15px;
  outline: none;
  margin-top: 30px;
  margin-right: 20px;
  cursor: pointer;
  color: #0487D6;
  /* padding: 30px; */
}
/*# sourceMappingURL=main.css.map */